<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
            {% for project in site.data.artwork %}
            <div class = "col-md-4" id="artwork-content">
                {% if project.type == photo %}
                <a href="{{ project.link }}" target="blank">
                        <img src="{{ project.img }}" alt="" height="100%">
                </a>
                {% else %}
                <a href="{{ project.link }}" target="blank">
                    <img src="{{ project.img }}" alt="" width="100%">
                </a>
                {% endif %}
                <span>
                    <h2>{{ project.title }}</h2>
                    <small>{{ project.content }}</small>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>