<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    {% if page.url == "/projects/mcpt.html" %}
        {% include portfolio/carousels/mcpt-carousel.html %}
    {% endif %}    

    {% if page.url == "/projects/heatstroke.html" %}
        {% include portfolio/carousels/heatstroke-carousel.html %}
    {% endif %}    
    
    {% if page.url == "/projects/teachin.html" %}
        {% include portfolio/carousels/teachin-carousel.html %}
    {% endif %}    

    {% if page.url == "/projects/staywoke.html" %}
        
    {% endif %}    

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <i class="fas fa-arrow-left"></i>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <i class="fas fa-arrow-right"></i>
    </a>
</div>