<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                    <!-- <h1 class="animated fadeInUp">{{ page.title }}</h1> -->
                    <h1 class="animated fadeInUp">Hello there!</h1>

                    {% if page.subtitle %}
                    <p class="animated fadeInUp">{{ page.subtitle }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>