<ul class="social-icons">
    <li>
        <a href="http://www.themefisher.com">
            <i class="fab fa-github"></i>
        </a>
    </li>

    <li>
        <a href="http://www.themefisher.com">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </li>

    <li>
        <a href="http://www.themefisher.com">
            <i class="fab fa-youtube"></i>
        </a>
    </li>

    <li>
        <a href="http://www.themefisher.com">
            <i class="fa fa-camera"></i>
        </a>
    </li>
    <li>
        <a href="http://www.themefisher.com">
            <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>