<ul class="social-icons">
    <li>
        <a href="http://www.github.com/agentlee" target="blank">
            <i class="fab fa-github"></i>
        </a>
    </li>

    <li>
        <a href="https://www.linkedin.com/in/jonleexyz/" target="blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </li>

    <li>
        <a href="https://www.youtube.com/channel/UC4BXi9vrZ-065DkYPABNhyw" target="blank">
            <i class="fab fa-youtube"></i>
        </a>
    </li>

    <li>
        <a href="https://500px.com/agentlee" target="blank">
            <i class="fab fa-500px"></i>
        </a>
    </li>
    <li>
        <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>