<ul class="social-icons">
    <li>
        <a href="http://www.themefisher.com">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>

    <li>
        <a href="http://www.themefisher.com">
            <i class="fa fa-youtube"></i>
        </a>
    </li>

    <li>
        <a href="http://www.themefisher.com">
            <i class="fa fa-camera"></i>
        </a>
    </li>
    <li>
        <a href="http://www.themefisher.com">
            <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>