<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>About Me</h2>
                    </div>
                    <p>
                        I am currently a 3D Software Developer at <a href="https://www.microdinc.com/" target="blank">MicroD</a>.
                        I received my MSE in Computer Graphics and Game Technology from the University of Pennsylvania and my BS in Computer Science from Rutgers University.
                    </p>
                    <p>
                        Some of my interests include rendering, filmmaking, and VFX. 
                    </p>
                </div>
            </div>
            <!-- .col-md-7 close -->
            <div class="col-md-3 col-sm-12">
                <div class="block">
                    <img src="https://raw.githubusercontent.com/AgentLee/agentlee.github.io/master/images/profile2.png" alt="Img">
                </div>
            </div>
            <!-- .col-md-5 close -->
        </div>
    </div>
</section>