
<hr>
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>About Me</h2>
                    </div>
                    <p>
                        I'm currently an Associate Software Engineer at <a href="https://www.vvisions.com/" target="blank">Vicarious Visions</a> where I'm currently
                        working on an unnanounced game!
                    </p>
                    <p>
                        I received my MSE in Computer Graphics and Game Technology from the University of Pennsylvania and my BS in Computer Science from Rutgers University.
                    </p>
                    <p>
                        Interests: Rendering, VFX, Filmmaking.

                        <br>
                        <br>

                        Whenever I get the chance, I will be updating my blog with some progression notes and takeaways 
                        from a project or something I learned from work. I'm a big movie goer, so I might even 
                        start putting up some movie reviews in the future!
                    </p>   
                </div>
            </div>
            <!-- .col-md-7 close -->
            <div class="col-md-3 col-sm-12">
                <div class="block">
                    <img src="https://raw.githubusercontent.com/AgentLee/agentlee.github.io/master/images/profile2.png" alt="Img">
                </div>
            </div>
            <!-- .col-md-5 close -->
        </div>
    </div>
</section>

<div style = "clear:both" id="clear-div"></div>
<div style = "clear:both" id="clear-div"></div>
<div style = "clear:both" id="clear-div"></div>
<div style = "clear:both" id="clear-div"></div>