--- 
layout: default
---

<hr>
<section id="project">
    <div class="container">
        {% if page.title %}
        <h3>{{ page.title }} | 
            <small>{{ page.techstack }}</small>
        </h3>
        <hr>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    {% if page.carousel == true %}
                    {% include portfolio/carousel.html %}
                    {% else %}
                    {% include portfolio/frame.html %}
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="block">
                    <p>
                        {{ content }}
                    </p>
                </div>

                <div class="block"></div>
                    {% include portfolio/projectlinks.html %}
                </div>
            </div>
        </div>
    </div>
</section>